<footer>
   <div class="contacts">
      <div class="contacts__wrapper">
         <div class="contacts__wrapper--content">
            <h2 class="contacts__main">Контакты</h2>
            <p class="contacts__info">
               <i class="fas fa-phone contacts__icon"></i>
               <a class="contacts__desc" href="tel:+380990000002">+38 (099) 00-00-002</a>
            </p>
            <p class="contacts__info">
               <i class="fas fa-map-marker-alt contacts__icon"></i>
               <span class="contacts__desc">г.Николаев <br> Мы работаем без выходных, с 10:00 до 20:00.</span>
            </p>
            <p class="contacts__info">
               <i class="fas fa-envelope contacts__icon"></i>
               <a class="contacts__desc" href="mailto:truevisionua@gmail.com">truevisionua@gmail.com</a>
            </p>
            <div class="soc__icons">
               <ul class="soc__icons--list">
                  <li class="soc__icons--list--item">
                     <i class="fab fa-instagram soc__icon"></i>
                     <a class="soc__icons--text" target="_blank" href="https://www.instagram.com/truevisionua/">Instagram</a>
                  </li>
                  <li class="soc__icons--list--item">
                     <i class="fab fa-facebook-square soc__icon"></i>
                     <a class="soc__icons--text" href="#">Facebook</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="contacts__map">
         <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15403.05227442903!2d32.004165653954885!3d46.963641426083264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1547902656709" class="contacts__map--container" style="border:0" allowfullscreen></iframe>
      </div>
   </div>
</footer>