<!--PRELOADER-->
<!--<div class="main-preloader">-->
    <!--<div class="e-loadholder">-->
        <!--<div class="m-loader">-->
            <!--<span class="e-text">TrueVision</span>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div id="particleCanvas-Blue"></div>-->
    <!--<div id="particleCanvas-White"></div>-->
<!--</div>-->
<header>
    <a href="#" id="return-to-top" style="display: inline;"><i class="fas fa-chevron-up"></i></a>
    <div class="camera_background">
        <img class="camera_background__image" src="img/IP-Cams.jpg" alt="">
        <video id="video1" class="camera-background__video" autoplay poster="img/IP-Cams.jpg" tabindex="0">
            <source src="img/header.mp4" type="video/mp4;">
        </video>
    </div>
    <div class="main_header_wrapper">
        <div class="container">
            <div class="head-info">
                <a href="/" class="head-info__logo">
                    <h1 class="head-info__title">TrueVision</h1>
                    <span class="head-info--title__desc">Clarity in Everything...</span>
                </a>
                <div class="head-info__descr">
                    <p class="head-info__descr--text">Системы видеонаблюдения в <br> <span class="city">Николаеве</span></p>
                </div>
                <div class="head-info__phone">
                    <a class="head-info__mail" href="mailto:truevisionua@gmail.com">truevisionua@gmail.com</a>
                    <button class="head-info__button">Заказать звонок</button>
                </div>
            </div>
            <div class="text-wrapper">
                <h1 class="text-wrapper__big">Продажа и установка систем <br>видеонаблюдения</h1>
                <span class="text-wrapper__small">для дома, офиса, магазина</span>
            </div>
            <div class="scale">
                <button class="scale__button">Оставить заявку</button>
                <img class="scale__arrow" src="img/arrow.png" alt="">
            </div>
        </div>
    </div>
</header>