.contacts {
  display: flex;
  .contacts__wrapper {
    background: #00a7e9;
    width: 50%;
    .contacts__wrapper--content {
      width: 480px;
      margin-left: auto;
      padding: 50px 0 70px;
    }
  }
  .contacts__map {
    overflow: hidden;
    width: 50%;
  }
}

.contacts__main {
  margin: 20px 0;
  color: #ffffff;
  font-size: 56px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  &:after {
    content: '';
    font-size: 14px;
    width: 160px;
    line-height: 25px;
    height: 1px;
    margin: 0 0 16px 12px;
    display: inline-block;
    border-bottom: solid 1px #fff;
  }
}

.contacts__info {
  margin-top: 20px;
  .contacts__icon {
    color: #ffffff;
    font-size: 20px;
    margin-right: 10px;
  }
  .contacts__desc {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
  }
}

.soc__icons {
  margin-top: 20px;
  .soc__icons--list {
    display: flex;
    .soc__icons--list--item {
      margin-right: 30px;
      .soc__icon {
        font-size: 25px;
        color: #e4405f;
      }
      &:last-child .soc__icon {
        color: #3b5999;
      }
      .soc__icons--text {
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        font-weight: 300;
      }
    }
  }
}

.contacts__map--container {
  width: 100%;
  height: 100%;
}

.footer-block {
  background: #2c343d;
  .footer-text {
    color: #ffffff;
  }
  .footer-desc {
    color: #ffffff;
    font-size: 21px;
  }
}

.footer-bottom {
  text-align: center;
  padding: 35px 0;
  .footer-info__logo {
    display: flex;
    flex-direction: column;
    width: 290px;
    margin: 0 auto 40px;
    .footer-info__title {
      color: #222222;
      font-family: 'Philosopher', sans-serif;
      font-weight: 700;
      font-style: italic;
      font-size: 50px;
      text-transform: uppercase;
      border-bottom: 1px solid #222222;
    }
    .footer-info--title__desc {
      font-family: 'Philosopher', sans-serif;
      color: #222222;
      margin-top: 5px;
      display: block;
      text-transform: uppercase;
      font-size: 15px;
      letter-spacing: 4.34px;
    }
  }
}

.footer__tel {
  font-size: 26px;
  font-weight: 300;
  color: rgb(51, 51, 51);
  transition: all .3s ease-in-out;
  &:hover {
    color: #00a7e9;
    transition: all .3s ease-in-out;
  }
}

@media screen and (max-width: 991px) {

  .contacts {
    flex-direction: column;
  }

  .contacts .contacts__wrapper,
  .contacts .contacts__map {
    width: 100%;
  }

  .contacts .contacts__wrapper .contacts__wrapper--content {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
  }

  .contacts__map--container {
    height: 350px;
  }

}

@media screen and (max-width: 574px) {

  .contacts .contacts__wrapper .contacts__wrapper--content {
    width: auto;
  }

  .contacts__main {
    font-size: 40px;
    &:after {
      content: none;
    }
  }

  .contacts__info .contacts__desc {
    font-size: 20px;
  }

  .footer-block .footer-desc {
    font-size: 16px;
  }

  .soc__icons .soc__icons--list .soc__icons--list--item {
    margin-right: 20px;
  }

}

@media screen and (max-width: 450px) {

  .footer-block .footer-desc {
    font-size: 3.7vw;
  }

}