.block-6 {
  background: #f1f1f1;
}

.block6__wrapper {
  margin: 60px 0;
  text-align: center;
  .block6__main {
    font-size: 45px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #333333;
    margin: 20px 0;
    display: block;
    &:before {
      content: '';
      font-size: 14px;
      width: 160px;
      line-height: 25px;
      height: 1px;
      margin: 0 12px 16px 0;
      display: inline-block;
      border-bottom: solid 1px #aaa
    }
    &:after {
        content: '';
        font-size: 14px;
        width: 160px;
        line-height: 25px;
        height: 1px;
        margin: 0 0 16px 12px;
        display: inline-block;
        border-bottom: solid 1px #aaa;
    }
  }
  .block6__text {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 25px;
    color: #333333;
  }
}

.block6__input {
  padding: 6px 24px 6px 10px;
  margin-right: 20px;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #d8d8d8;
  &:focus {
    border: 1px solid #00a7e9;
  }
}

.block6__form--subm {
  cursor: pointer;
  height: 33px;
  line-height: 35px;
  display: inline-block;
  padding: 0 32px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #00a7e9;
  font-size: 16px;
  transition: all .3s ease-in-out;
  transform: scale(1);
  &:hover {
    background: #55bcf8;
    transition: all .3s ease-in-out;
    transform: scale(1.02);
  }
}