.block-5 {
  .head__wrapper {
    background: #00a7e9;
    .head--text {
      font-size: 44px;
      text-transform: uppercase;
      font-weight: 300;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      padding: 25px 0;
      color: #ffffff;
      &:before {
        content: '';
        font-size: 14px;
        width: 160px;
        line-height: 25px;
        height: 1px;
        margin: 0 12px 16px 0;
        display: inline-block;
        border-bottom: solid 1px #ffffff;
      }
      &:after {
        content: '';
        font-size: 14px;
        width: 160px;
        line-height: 25px;
        height: 1px;
        margin: 0 0 16px 12px;
        display: inline-block;
        border-bottom: solid 1px #ffffff;
      }
    }
  }
}

.const__part {
  background: url("../img/bg3.jpg") no-repeat right 0;
  width: 100%;
  height: 780px;
  overflow: hidden;
  .const__main {
    background: #fff;
    width: 50%;
    height: 100%;
    .const__inside {
      width: 480px;
      margin-left: auto;
      height: 100%;
      padding-left: 15px;
      padding-top: 20px;
      margin-right: 40px;
    }
  }
}

.const__question {
  font-size: 18px;
  color: #444;
  font-weight: 400;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  &:nth-child(5) {
    margin-top: 40px;
  }
}

.const__wrapper {
  display: flex;
  .const__wrapper--input {
    position: relative;
    margin-top: 40px;
    margin-right: 70px;
    &:last-child {
      margin-right: 0;
    }
    .const__input {
      width: 25px;
      height: 32px;
      font-size: 16px;
      font-family: "Roboto", sans-serif;
      text-align: left;
      color: #666;
      padding: 0 20px 0 6px;
      border: 1px solid #d8d8d8;
      &:focus {
        border: 1px solid #0099ce;
      }
      &:hover {
        border: 1px solid #00a7e9;
      }
    }
    .const__text {
      position: absolute;
      font-size: 16px;
      font-weight: 300;
      top: -24px;
      font-family: "Roboto", sans-serif;
      color: #333;
    }
    .const__up-arrow {
      position: absolute;
      top: 1px;
      font-size: 18px;
      width: 15px;
      height: 17px;
      padding-left: 5px;
      left: 32px;
      color: #777;
      border-left: 1px solid #d8d8d8;
      cursor: pointer;
      &:hover {
        background: #0099ce;
        color: #ffffff;
      }
    }
    .const__down-arrow {
      position: absolute;
      top: 16px;
      border-left: 1px solid #d8d8d8;
      font-size: 18px;
      color: #777;
      width: 15px;
      height: 17px;
      padding-left: 5px;
      left: 32px;
      cursor: pointer;
      &:hover {
        background: #0099ce;
        color: #ffffff;
      }
    }
  }
}

.const__item {
  margin-top: 15px;
  position: relative;
  .const__item {
    opacity: 0;
  }
  .const__item--label {
    background: url(../img/radio.png) no-repeat 0 0;
    padding-left: 32px;
    height: 20px;
    position: absolute;
    left: 0;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    &:hover {
      background: url(../img/radio-hover.png) no-repeat 0 0;
    }
  }
  &:last-child {
    margin-top: 30px;
  }
}

.const__item .const__item--label.checked {
  background: url(../img/radio-checked.png) no-repeat 0 0;
}

.const__archive__wrapper {
  display: flex;
  .const__items {
    position: relative;
    margin-top: 15px;
    flex: 33%;
    .const__item--text {
      background: url(../img/radio.png) no-repeat 0 0;
      padding-left: 32px;
      height: 20px;
      position: absolute;
      left: 0;
      color: #333333;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      &:hover {
        background: url(../img/radio-hover.png) no-repeat 0 0;
      }
    }
  }
}

.const__items .const__item--text.checked_arch {
  background: url(../img/radio-checked.png) no-repeat 0 0 !important;
}

.const__button {
  cursor: pointer;
  height: 33px;
  line-height: 35px;
  display: inline-block;
  padding: 0 32px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #00a7e9;
  margin-top: 20px;
  font-size: 16px;
  transition: all .3s ease-in-out;
  transform: scale(1);
  &:hover {
    background: #55bcf8;
    transition: all .3s ease-in-out;
    transform: scale(1.02);
  }
}

.const__form--step2 {
  margin-top: 25px;
  display: none;
  .step2__header {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 16px;
  }
  .step2__input {
    height: 30px;
    border: solid 1px #CCC;
    line-height: 32px;
    background: #FFF;
    display: inline-block;
    width: 200px;
    text-align: left;
    outline: none;
    margin: 0 8px 16px 0;
    font-family: 'Roboto', sans-serif;
    color: #444;
    font-size: 12px;
    padding: 0 0 0 8px;
    &:focus {
      border: 1px solid #00a7e9;
    }
  }
  .step2__back {
    cursor: pointer;
    height: 33px;
    line-height: 35px;
    display: inline-block;
    padding: 0 32px;
    font-family: Roboto,sans-serif;
    color: #555;
    border-radius: 3px;
    background: #ccc;
    font-size: 16px;
    transition: all .3s ease-in-out;
    transform: scale(1);
    &:hover {
      background: #ddd;
      transition: all .3s ease-in-out;
      transform: scale(1.015);
    }
  }
  .step2__submt {
    cursor: pointer;
    height: 33px;
    line-height: 35px;
    display: inline-block;
    padding: 0 32px;
    font-family: Roboto,sans-serif;
    color: #fff;
    border-radius: 3px;
    background: #00a7e9;
    font-size: 16px;
    transition: all .3s ease-in-out;
    transform: scale(1);
    &:hover {
      transform: scale(1.015);
      transition: all .3s ease-in-out;
      background: #00bdff;
    }
  }
}

@media screen and (max-width: 1050px) {

  .block-5 .head__wrapper .head--text {
    font-size: 40px;
    &:before, &:after {
      width: 120px;
    }
  }

}

@media screen and (max-width: 991px) {

  .const__part .const__main {
    width: 100%;
    .const__inside {
      margin-right: auto;
    }
  }

}

@media screen and (max-width: 900px) {

  .block-5 .head__wrapper .head--text:before, .block-5 .head__wrapper .head--text:after {
    content: none !important;
  }

}

@media screen and (max-width: 650px) {

  .block-5 .head__wrapper .head--text {
    font-size: 6vw;
  }

}

@media screen and (max-width: 500px) {

  .const__part .const__main .const__inside {
    width: auto;
  }

  .const__question {
    font-size: 14px;
  }

  .const__wrapper .const__wrapper--input {
    margin-right: 26px;
  }

  .const__wrapper .const__wrapper--input .const__text {
    font-size: 13px;
  }

  .const__archive__wrapper {
    flex-direction: column;
  }

}

@media screen and (max-width: 400px) {

  .const__item .const__item--label {
    font-size: 14px;
  }

  .const__archive__wrapper .const__items .const__item--text {
    font-size: 14px;
  }

}

@media screen and (max-width: 340px) {

  .const__item:nth-child(2) {
    margin-bottom: 50px;
  }

  .const__wrapper .const__wrapper--input {
    margin-right: 22px;
  }

}
