.block7__wrapper {
  padding: 35px 0 55px;
  .block7__main {
    font-size: 45px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 300;
    color: #333333;
    margin: 20px 0;
    display: block;
    &:before {
      content: '';
      font-size: 14px;
      width: 160px;
      line-height: 25px;
      height: 1px;
      margin: 0 12px 16px 0;
      display: inline-block;
      border-bottom: solid 1px #aaa
    }
    &:after {
      content: '';
      font-size: 14px;
      width: 160px;
      line-height: 25px;
      height: 1px;
      margin: 0 0 16px 12px;
      display: inline-block;
      border-bottom: solid 1px #aaa;
    }
  }
}

.block7__content__wrapper {
  display: flex;
  flex-wrap: wrap;
  .block7__container {
    flex: 0 0 50%;
    margin-top: 30px;
    display: flex;
    .block7__icon {
      color: #00a7e9;
      font-size: 50px;
      text-align: center;
      min-width: 60px;
    }
    .block7__wrapper--text {
      padding-left: 25px;
      .block7__header {
        font-size: 17px;
        font-family: 'Roboto', sans-serif;
        color: #333333;
        font-weight: 400;
        margin-bottom: 5px;
      }
      .block7__describe {
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        color: #333333;
        font-weight: 300;
        max-width: 350px;
      }
    }
  }
}

@media screen and (max-width: 950px) {

  .block7__wrapper .block7__main {
    font-size: 35px;
    &:before, &:after {
      width: 120px !important;
    }
  }

  .block7__content__wrapper .block7__container .block7__wrapper--text .block7__describe {
    font-size: 14px;
  }

}

@media screen and (max-width: 800px) {

  .block7__content__wrapper .block7__container {
    flex: 0 0 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #ebebeb;
    margin-top: 15px;
    &:last-child {
      border-bottom: none;
    }
  }

  .block7__content__wrapper .block7__container .block7__wrapper--text {
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 20px;
  }

}

@media screen and (max-width: 750px) {

  .block7__wrapper .block7__main:before,
  .block7__wrapper .block7__main:after {
    content: none !important;
  }

}

@media screen and (max-width: 450px) {

  .block7__wrapper .block7__main {
    font-size: 7.4vw;
  }

}